<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Facebook Login">
  <test thread-count="1" name="Facebook login positive case">
  <classes>
  	<class name="Facebooklogin"/>
  	
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
